html, body {
  overflow-x: hidden;
}
body {
  position: relative;
}

#menu {
/*    background-color: #868DC5;*/
    background-color: #3F3831;
    bottom: 0 !important;
    position: fixed;
    width: 100%;
    font-family: 'Patrick Hand SC', cursive;
    animation-delay: 0.75s;
}

.nav-item a.is-tab.is-active,
a.nav-item.is-tab.is-active {
    border-bottom: 3px solid pink;
}

#mainPage {
    background-color: antiquewhite;
    background: url("/images/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: margin-left .5s;
    margin:0;
}

.tile {
    text-align: center;
}

#bearLogo {}

#url {
    background-color: indianred;
    color: white;
    opacity: 0.7;
    font-family: 'Patrick Hand SC', cursive;
}

#submitButton {
    background-color: indianred;
}

#IDEnter {
    text-align: center;
    animation-delay: 0.25s;
}

#animatedCard {
    height: 600px;
    width: 800px;
    background-color: red;
}

.nav-item a.is-tab:hover,
a.nav-item.is-tab:hover {
  border-bottom-color: indianred;
}


.opacity75 {
    opacity: 0.75;
}

.red {
    color: red;
}

i {
    color: white;
}

.errorColor {
    background-color: darkred;
    color: white;
}

::-webkit-input-placeholder {
    /* Chrome */
    color: white;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    opacity: 1;
}

:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: white;
    opacity: 1;
}

#potatoHeart {
    position: absolute;
    top: 123px;
    right: 100px;
    animation-delay: 1s;
}

#potatoHeart2 {
    position: absolute;
    top: 50%;
    left: 160px;
    height: 150px;
    width: 150px;
    animation-delay: 1.5s;
}

#potatoHeart3 {
    position: absolute;
    top: 1em;
    left: 30em;
    height: 96px;
    width: 96px;
    animation-delay: 1.75s;
}

#potatoHeart4 {
    position: absolute;
    bottom: 10em;
    right: 3em;
    height: 60px;
    width: 60px;
    animation-delay: 1.75s;
}

#cardLoader {
    text-align: center;
}

#cardLoaderInside {
    width: 800px;
    height: 600px;
    max-width: 440px;
    max-height: 700px;
    /*    box-shadow: 0 10px 6px -6px #777;*/
    background: #FFF;
    margin: 40px auto;
}

@media only screen and (max-width: 500px) {
    #cardLoaderInside {
        width: 80%;
        height: 50vh;
        background: #FFF;
        margin: 40px auto;
    }
}

.effect7 {
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect7:before,
.effect7:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 40px;
    right: 40px;
    border-radius: 100px / 10px;
}

.effect7:after {
    right: 10px;
    left: auto;
    transform: skew(8deg) rotate(3deg);
}



/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 25em;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 6;
    /* Stay on top */
    top: 0;
    right: -25em;
    background-color: #3F3831;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    box-shadow: inset -7px 0 50px -7px rgba(0,0,0,0.7);
    font-family: 'Patrick Hand SC', cursive;
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 2em;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: center;
    transition: 0.3s;
}

.sidenav img {
    width: 80%;
    display: block;
    margin: auto;
}

.sidenav ul {
    text-align: center;
    width: 100%;
    background-color: transparent;
    margin-top: 1em;
}

.sidenav li {
    width: 100%;
    background-color: transparent;
    border-top: 3px solid #000;
    transition: 0.3s;
    display: block;
    margin:auto;
}

.sidenav li:hover {
    width: 110%;
    background-color: indianred;
}

.sidenav .icon{
    padding-right:0.5em;
    
}


.sideNavLogo{
    max-width:40%;
    
}


#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: black;
    opacity: 0.5;
    display: none;
    transition: 0.5s;
}


#hambuggah {
    position: fixed;
    color:indianred;
    font-size: 3em;
    transition: 0.5s;
    top: 0.2em;
    right: 0.5em;
    background-color: transparent;
    z-index: 4;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}



/*Video Spam */

#my-video{
    width:auto;
        
        
}

  .video-js .vjs-menu-button-inline.vjs-slider-active,.video-js .vjs-menu-button-inline:focus,.video-js .vjs-menu-button-inline:hover,.video-js.vjs-no-flex .vjs-menu-button-inline {
    width: 10em
}

.video-js .vjs-controls-disabled .vjs-big-play-button {
    display: none!important
}

.video-js .vjs-control {
    width: 3em
}

.video-js .vjs-menu-button-inline:before {
    width: 1.5em
}

.vjs-menu-button-inline .vjs-menu {
    left: 3em
}

.vjs-paused.vjs-has-started.video-js .vjs-big-play-button,.video-js.vjs-ended .vjs-big-play-button,.video-js.vjs-paused .vjs-big-play-button {
    display: block
}

.video-js .vjs-load-progress div,.vjs-seeking .vjs-big-play-button,.vjs-waiting .vjs-big-play-button {
    display: none!important
}

.video-js .vjs-mouse-display:after,.video-js .vjs-play-progress:after {
    padding: 0 .4em .3em
}

.video-js.vjs-ended .vjs-loading-spinner {
    display: none;
}

.video-js.vjs-ended .vjs-big-play-button {
    display: block !important;
}

.video-js *,.video-js:after,.video-js:before {
    box-sizing: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit
}

.video-js.vjs-fullscreen,.video-js.vjs-fullscreen .vjs-tech {
    width: 100%!important;
    height: 100%!important
}

.video-js {
    font-size: 14px;
    overflow: hidden;
    background-color:transparent;
}

.video-js .vjs-control {
    color: inherit
}

.video-js .vjs-menu-button-inline:hover,.video-js.vjs-no-flex .vjs-menu-button-inline {
    width: 8.35em
}

.video-js .vjs-volume-menu-button.vjs-volume-menu-button-horizontal:hover .vjs-menu .vjs-menu-content {
    height: 3em;
    width: 6.35em
}

.video-js .vjs-control:focus:before,.video-js .vjs-control:hover:before {
    text-shadow: 0 0 1em #fff,0 0 1em #fff,0 0 1em #fff
}

.video-js .vjs-spacer,.video-js .vjs-time-control {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.video-js .vjs-time-control {
    -webkit-box-flex: 0 1 auto;
    -moz-box-flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: auto
}

.video-js .vjs-time-control.vjs-time-divider {
    width: 14px
}

.video-js .vjs-time-control.vjs-time-divider div {
    width: 100%;
    text-align: center
}

.video-js .vjs-time-control.vjs-current-time {
    margin-left: 1em
}

.video-js .vjs-time-control .vjs-current-time-display,.video-js .vjs-time-control .vjs-duration-display {
    width: 100%
}

.video-js .vjs-time-control .vjs-current-time-display {
    text-align: right
}

.video-js .vjs-time-control .vjs-duration-display {
    text-align: left
}

.video-js .vjs-play-progress:before,.video-js .vjs-progress-control .vjs-play-progress:before,.video-js .vjs-remaining-time,.video-js .vjs-volume-level:after,.video-js .vjs-volume-level:before,.video-js.vjs-live .vjs-time-control.vjs-current-time,.video-js.vjs-live .vjs-time-control.vjs-duration,.video-js.vjs-live .vjs-time-control.vjs-time-divider,.video-js.vjs-no-flex .vjs-time-control.vjs-remaining-time {
    display: none
}

.video-js.vjs-no-flex .vjs-time-control {
    display: table-cell;
    width: 4em
}

.video-js .vjs-progress-control {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: .5em;
    top: -.5em
}

.video-js .vjs-progress-control .vjs-load-progress,.video-js .vjs-progress-control .vjs-play-progress,.video-js .vjs-progress-control .vjs-progress-holder {
    height: 100%
}

.video-js .vjs-progress-control .vjs-progress-holder {
    margin: 0
}

.video-js .vjs-progress-control:hover {
    height: 1.5em;
    top: -1.5em
}

.video-js .vjs-control-bar {
    -webkit-transition: -webkit-transform .1s ease 0s;
    -moz-transition: -moz-transform .1s ease 0s;
    -ms-transition: -ms-transform .1s ease 0s;
    -o-transition: -o-transform .1s ease 0s;
    transition: transform .1s ease 0s
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar,.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar,.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {
    visibility: visible;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(3em);
    -moz-transform: translateY(3em);
    -ms-transform: translateY(3em);
    -o-transform: translateY(3em);
    transform: translateY(3em);
    -webkit-transition: -webkit-transform 1s ease 0s;
    -moz-transition: -moz-transform 1s ease 0s;
    -ms-transition: -ms-transform 1s ease 0s;
    -o-transition: -o-transform 1s ease 0s;
    transition: transform 1s ease 0s
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control,.video-js.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control {
    height: .25em;
    top: -.25em;
    pointer-events: none;
    -webkit-transition: height 1s,top 1s;
    -moz-transition: height 1s,top 1s;
    -ms-transition: height 1s,top 1s;
    -o-transition: height 1s,top 1s;
    transition: height 1s,top 1s
}

.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen .vjs-progress-control,.video-js.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,.video-js.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control {
    opacity: 0;
    -webkit-transition: opacity 1s ease 1s;
    -moz-transition: opacity 1s ease 1s;
    -ms-transition: opacity 1s ease 1s;
    -o-transition: opacity 1s ease 1s;
    transition: opacity 1s ease 1s
}

.video-js.vjs-live .vjs-live-control {
    margin-left: 1em
}

.video-js .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin-left: -1em;
    margin-top: -1em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: none;
    border-radius: 50%;
    font-size: 3.5em;
    background-color: rgba(0,0,0,.45);
    color: #fff;
    -webkit-transition: border-color .4s,outline .4s,background-color .4s;
    -moz-transition: border-color .4s,outline .4s,background-color .4s;
    -ms-transition: border-color .4s,outline .4s,background-color .4s;
    -o-transition: border-color .4s,outline .4s,background-color .4s;
    transition: border-color .4s,outline .4s,background-color .4s
}

.video-js .vjs-menu-button-popup .vjs-menu {
    left: -3em
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-content {
    background-color: transparent;
    width: 12em;
    left: -1.5em;
    padding-bottom: .5em
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item,.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-title {
    background-color: #151b17;
    margin: .3em 0;
    padding: .5em;
    border-radius: .3em
}

.video-js .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected {
    background-color: #2483d5
}

.video-js .vjs-big-play-button {
    background-color: indianred;
    font-size: 3.5em;
    border-radius: 50%;
    height: 2em !important;
    line-height: 2em !important;
    margin-top: -1em !important
}

.video-js:hover .vjs-big-play-button,.video-js .vjs-big-play-button:focus,.video-js .vjs-big-play-button:active {
    background-color: indianred
}

.video-js .vjs-loading-spinner {
    border-color: indianred
}

.video-js .vjs-control-bar2 {
    background-color: #cd5c5c
}

.video-js .vjs-control-bar {
    background-color: indianred !important;
    color: #ffffff;
    font-size: 14px
}

.video-js .vjs-play-progress,.video-js  .vjs-volume-level {
    background-color: pink
}
    
        p{
            color:#3F3831;
            
        }
        
        .vjs-poster{
                background-color: transparent;
            
        }
        h1{
            color:indianred;
            font-size:1.5em;
            font-family: 'Patrick Hand SC', cursive;
            
        }    
        h2{
            color:indianred;
            font-size:1.3em;
            float:right;
            font-family: 'Patrick Hand SC', cursive;
            
        }  
        
        bear{
            color:indianred;
            font-size:1em;
            font-family: 'Patrick Hand SC', cursive;
            
        }